
.login{
    top: 0px;
    left: 0px;
    width: 360px;
    height: 800px;
    background: transparent linear-gradient(180deg, #000000 0%, #000E09 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border-radius: 28px;
    opacity: 1;
    color: white;
    position: relative;
    
}

.logo1{
    top: 44px;
    left: 300px;
    width: 40px;
    height: 40px;
    background: url('./images/logo1.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
}

.logo2{
    top: 89px;
    left: 210px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #5E5E5EB5 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 4px 0px #00000040;
    mix-blend-mode: normal;
    border: 1px solid #FFFEFE00;
    opacity: 1;
    filter: blur(2px);
    position: absolute;
}

.text2{
    top: 95px;
    left: 222px;
    width: 15px;
    height: 23px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 18px/25px Source Sans Pro;
    letter-spacing: 0.02px;
    color: #36A546;
    opacity: 1;
    position: absolute;
}

.mop{
    top: 104px;
    left: 150px;
    width: 71px;
    height: 70px;

    background: transparent url('images/mop.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
}

.box1{
    top: 213px;
    left: 16px;
    width: 328px;
    height: 465px;
    /* UI Properties */
    background: #5E5E5E82 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 4px 0px #00000040;
    mix-blend-mode: normal;
    opacity: 0.4;
    filter: blur(2px);
    position: absolute;
    border-radius: 2em;
}

.box2{
    top: 215px;
    left: 16px;
    width: 328px;
    height: 45px;
    /* UI Properties */
    background: #1A2C2C99 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    border-radius: 2em;
}

.textbox2{
    top: 223px;
    left: 15px;
    width: 322px;
    height: 25px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 18px/25px Source Sans 3;
    letter-spacing: 0.01px;
    color: #FFFFFFB3;
    opacity: 0.84;
    position: absolute;
}


.prod{
    top: 290px;
    left: 16px;
    width: 328px;
    height: 465px;
    position: absolute;
}

.monn{
    top: 10px;
    left: 16px;
    width: 300px;
    height: 50px;
    position: absolute;
}

.monday{
    top: 302px;
    left: 473px;
    width: 179px;
    height: 15px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 12px/16px Mulish;
    letter-spacing: 0.01px;
    color: #FFFFFF;
    opacity: 1;
    padding-bottom: 5px;
}
.monprod{
    top: 0px;
    left: 240px;
    width: 28px;
    height: 18px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px/19px Mulish;
    letter-spacing: 0.01px;
    color: #36A546;
    opacity: 1;
    position: absolute;
}
.monbar{
    top: 324px;
    left: 456px;
    width: 6px;
    height: 11px;
    /* UI Properties */
    background: #36A54680 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #36A546;
    opacity: 1;
    border-radius: 2em;
}

.tuee{
    top: 65px;
    left: 16px;
    width: 300px;
    height: 50px;
    position: absolute;
}


.tueday{
    top: 356px;
    left: 473px;
    width: 133px;
    height: 15px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 12px/16px Mulish;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-bottom: 5px;
}
.tueprod{
    width: 37px;
    height: 18px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px/19px Mulish;
    letter-spacing: 0.01px;
    color: #36A546;
    opacity: 1;
    top: 0px;
    left: 240px;
    position: absolute;
}
.tuebar{
    top: 379px;
    left: 457px;
    width: 140px;
    height: 11px;
    /* UI Properties */
    background: #36A54680 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #36A546;
    opacity: 1;
    border-radius: 2em;
}


.wedd{
    top: 120px;
    left: 16px;
    width: 300px;
    height: 50px;
    position: absolute;
}

.wedday{
    top: 413px;
    left: 473px;
    width: 157px;
    height: 15px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 12px/16px Mulish;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-bottom: 5px;
}
.wedprod{
    top: 0px;
    left: 240px;
    position: absolute;
    width: 47px;
    height: 18px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px/19px Mulish;
    letter-spacing: 0.01px;
    color: #36A546;
    opacity: 1;
}
.wedbar{
    top: 436px;
    left: 457px;
    width: 183px;
    height: 11px;
    /* UI Properties */
    background: #36A54680 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #36A546;
    opacity: 1;
    border-radius: 2em;
}


.thuu{
    top: 185px;
    left: 16px;
    width: 300px;
    height: 50px;
    position: absolute;
}

.thuday{
    top: 469px;
    left: 473px;
    width: 167px;
    height: 15px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 12px/16px Mulish;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-bottom: 5px;
}
.thuprod{
    top: 0px;
    left: 240px;
    position: absolute;
    width: 37px;
    height: 18px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px/19px Mulish;
    letter-spacing: 0.01px;
    color: #36A546;
    opacity: 1;
}
.thubar{
    top: 491px;
    left: 456px;
    width: 132px;
    height: 11px;
    /* UI Properties */
    background: #36A54680 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #36A546;
    opacity: 1;
    border-radius: 2em;
}


.frii{
    top: 240px;
    left: 16px;
    width: 300px;
    height: 50px;
    position: absolute;
}

.friday{
    top: 524px;
    left: 473px;
    width: 139px;
    height: 15px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 12px/16px Mulish;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-bottom: 5px;
}
.friprod{
    top: 0px;
    left: 240px;
    position: absolute;
    width: 37px;
    height: 18px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px/19px Mulish;
    letter-spacing: 0.01px;
    color: #36A546;
    opacity: 1;
}
.fribar{
    top: 546px;
    left: 456px;
    width: 132px;
    height: 11px;
    /* UI Properties */
    background: #36A54680 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #36A546;
    opacity: 1;
    border-radius: 2em;
}

.satt{
    top: 295px;
    left: 16px;
    width: 300px;
    height: 50px;
    position: absolute;
}


.satday{
    top: 578px;
    left: 473px;
    width: 139px;
    height: 15px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 12px/16px Mulish;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-bottom: 5px;
}
.satprod{
    top: 0px;
    left: 240px;
    position: absolute;
    width: 37px;
    height: 18px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px/19px Mulish;
    letter-spacing: 0.01px;
    color: #36A546;
    opacity: 1;
}
.satbar{
    top: 600px;
    left: 456px;
    width: 146px;
    height: 11px;
    /* UI Properties */
    background: #36A54680 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #36A546;
    opacity: 1;
    border-radius: 2em;
}

.rect{
    top: 739px;
    left: 0px;
    width: 360px;
    height: 63px;
    /* UI Properties */
    background: transparent linear-gradient(262deg, #0F2323 0%, #0F2323 40%) 0% 0% no-repeat padding-box;
    box-shadow: inset 8px 4px 4px #00000040;
    mix-blend-mode: normal;
    border: 1px solid #0F2323;
    opacity: 1;
    position: absolute;
    border-radius: 2em;
}


.homebtn{
    top: 739px;
    left: 0px;
    width: 180px;
    height: 61px;
    background: #38383880 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    opacity: 1;
    filter: blur(7px);
    border-radius: 2em;
}

.homebtn1{
    top: 0px;
    left: 180px;
    width: 180px;
    height: 61px;
    background: transparent;
    opacity: 1;
    position: absolute;
    border-radius: 2em;
}

.homeicon{
    top: 18px;
    left: 90px;
    width: 28px;
    height: 28px;
    /* UI Properties */
    background: url('images/home.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 0.5;
    position: absolute;
    filter: saturate(4);
}

.profileicon{
    top: 18px;
    left: 250px;
    width: 28px;
    height: 28px;
    /* UI Properties */
    background: transparent url('images/user.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 0.5;
    position: absolute;
}